body{
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.login{
    text-align: center;
}
.login form{
    margin-top: 250px;
    border: 2px soid black;
    border-radius: 10px;
    background-color: aliceblue;
    backdrop-filter: blur(70px);
    height: 350px;
    width: 400px;
    box-shadow: 4px 4px 4px black;
}
.login .user input{
    width: 300px;
    height: 30px;
    padding: 10px 12px;
    margin: 8px 0;
}
.user .uname input{
    padding-bottom: 8px;
}
.user .pass input{

    padding-top: 20px;
}
.checkbx{
    margin-right: 200px;
}
.loginbtn{
    margin-top: 20px;
    width: 300px;
    height: 30px;
    background: linear-gradient(to right,rgb(20, 20, 119),rgb(44, 41, 41)) ;
    color: aliceblue;
    border-radius: 20px;
    transition: 0.25s ease-in-out;
}
.loginbtn:hover{
    letter-spacing: 5px;
    transform: scale(110%);
    box-shadow: 4px 4px 4px rgba(0, 0, 255, 0.544);
}
form a{
    color: rgb(47, 255, 106);
}